
<section>
  <div class='has-background-info'>
    app.component.html. title is {{title}}  
  </div>
  subset is: {{subset}}
  subsetArray is: {{subsetArray}}
  <br><br>
  <textarea rows="8" cols="75">
    click on a group (expand width of the group)
    click on a group again (go to work-with-group)
    drag a group left or right (change sequence of groups)
  click on the new group icon ( add a new group, go to work-with-group)
  hover on a question (see more info about this question)
  click below a question (add a new question, go to work-with-question)
  drag a question left or right ( put it in a different group)
  drag a question up or down ( put it in a different sequence)								 
  </textarea>
</section>

<app-qnc 
  *ngIf="showQnc" 
  [showQnc]="showQnc"  
  (subsetOut)="showQncWwgFun($event)"
  (subsetsOut)="ssArrayQncWwgFun($event)"
  (rulesOut)="rulesArrayQncWwgFun($event)"
  (wwqOut)="showQncWwqFun($event)"

  >
</app-qnc>

<app-qncwwg
   *ngIf="showQncWwg" 
   [showQnc]="showQnc"
   [meow]="meow"
   [subsetQncWwg]="subsetQncWwg"
   [subsetsQncWwg]="subsetsQncWwg"
   [rulesQncWwg]="rulesQncWwg"
   (doneQncWwgOut)="showQncFun($event)"
   >
</app-qncwwg>

<app-qncwwq
  *ngIf="showQncWwq" 
  [showQnc]="showQnc"
  [subsetsQncWwq]="subsetsQncWwq"
  (doneQncWwqOut)="showQncFun($event)"
> 
</app-qncwwq>