<div class='containery'>
<section *ngIf='showAppComponent'>
  <div class='has-background-warning-light is-size-6 '>
    {{title}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class='is-size-7'>
      app.component.html &nbsp;&nbsp;&nbsp;&nbsp;
      contains components: qnc wwg wwq wwqd
    </span>
  </div>
</section>

<app-qnc   *ngIf="showQnc" 
  [subsetsIn]="subsetArray"
  [questionsIn]="questArray"
  [showQnc]="showQnc" 
  (subsetOut)="subsetFromQncFun($event)"
  (subsetsOut)="ssArrayQncWwgFun($event)"
  (rulesOut)="rulesArrayQncWwgFun($event)"
  (wwgJumpOut)="showWwgFun($event)"
  (wwqJumpOut)="showWwqFun($event)"
  (wwqdJumpOut)="showWwqdFun($event)"
  (qncQuestOut)="setQuestFromQncFun($event)"
  >
</app-qnc>

<app-qncwwg   *ngIf="showQncWwg" 
   [showQnc]="showQnc"
   [rulesIn]="rulesArray"
   [subsetIn]="subset"
   [questionsIn]="questArray"
   [meow]="meow"
   [subsetsQncWwg]="subsetsQncWwg"
   (doneQncWwgOut)="showQncFun($event)"
   (wwqJumpOut) = "showWwqFun($event)"
   (rulesQncWwgOut)="foxTrot($event)"
   >
</app-qncwwg>

<app-qncwwq  *ngIf="showQncWwq" 
  [showQnc]="showQnc"
  [subsetIn]="subset"
  [subsetsQncWwq]="subsetsQncWwq"
  [questionsIn]="questArray"
  [questionsIn2]="questArray2"
  [rulesIn]="rulesArray"
  (wwqQuestOut)="setQuestFromWwqFun($event)"
  (doneWwqOut)="showQncFun($event)"
  (jumpWwqdOut)="showWwqdFun($event)"
  (wwqQuestArray2Out)="setQuest2FromWwqFun($event)"
> 
</app-qncwwq>

<app-qncwwqd   *ngIf="showQncWwqd" 
  [questionNbrIn]="daQuestion"
  [questionsIn]="questArray"
  [questionsIn2]="questArray2"
  [rulesIn]="rulesArray"
  [subsetsIn]="subsetArray"
  (doneQncWwqdOut)="doneWwqdFun($event)"
>
</app-qncwwqd>

<app-qncconv *ngIf="showQncConv" >
</app-qncconv>

</div>