<div class='is-fullwidth has-background-warning is-size-5 selz-text-trunc'>
    <span>&nbsp; Question Detail: {{questionsIn[qx].questNbr}} </span>
    <span class='has-text-weight-bold '> 
       {{questionsIn[qx].questTxt}} </span> &nbsp;&nbsp; 

  <a class='button has-background-warning is-small is-pulled-right '
    (click)='jumpToWwq()'>
     done &#10060; 
  </a>  

 <a class='button has-background-warning is-small is-pulled-right '
  (click)='showHideHelp()'>
   help &#10068; 
 </a>
<span class='is-pulled-right'>&nbsp;</span>

 <span class='tag is-pulled-right is-dark is-small is-vcentered' 
       *ngIf='msg1.length > 0'>
  {{msg1}} </span> 

</div>
<div>
  <span class='button is-info'
        (click)='prevButClick()'
  >  &#5176; prev</span> &nbsp;
  <span class='button is-info'
      (click)='nextButClick()'
  > next &#5171;  </span> &nbsp;
  <!-- <span class='button is-info'
  (click)='filtButClick()'
> Filter Group: {{filterBySubset}}  </span> &nbsp; -->
  <span class='button is-info'
     (click)='addButClick()'
  > add  </span> &nbsp;

  <span class='button is-info'
    (click)='delButClick()'
  > delete </span> &nbsp;

  <span class='button is-info'
    (click)='saveButClick()'
  > save </span> &nbsp;
</div>

<div>  
<table class=' table has-background-success-light is-narrow'>
  <tr>
    <td><label>question nbr: </label></td>
    <td><input  disabled
      class='has-background-success-light '
      value= {{questionsIn[qx].questNbr}}
      size="4"
      autocomplete="off"></td>
  </tr>
  <tr>
<td><label>Sequence: </label></td>
<td><input  
  class='input is-small '
  value= {{questionsIn[qx].questSeq}}
  size="4"
  (change)=questSeqChg($event,qx)              
  autocomplete="off"></td>
  </tr>
  <tr>
  <td><label>pre-Question: </label></td>
  <td><input  
    class='input is-small '
  value= {{questionsIn[qx].preQuest}}
  size="35"
  (change)=preQuestChg($event,qx)              
  autocomplete="off"> </td>
  </tr>
  <tr>
  <td><label>Question: </label></td>
  <td><input  
    class='input is-small '
    value= {{questionsIn[qx].questTxt}}
    size="35"
    (change)=questTxtChg($event,qx)              
    autocomplete="off"> </td>
  </tr>
  
  <tr>
    <td><label>Group: </label></td>
    <td><input  
       type='text'
      class='input is-small '
      value= {{questionsIn[qx].subset}}
       size="20"
        (change)='subsetChg($event,qx)'            
    autocomplete='off'> </td>
    </tr>
    <tr *ngIf='fullRuleWords.length > 0'>
      <td><label>relies on Scoreboard: </label></td>
      <td><input disabled 
        class='input is-small '
        value= {{fullRuleWords}}
         size="20">
      </td>
    </tr>
    <!-- <tr>&nbsp;</tr> -->
</table>

<!-- <table class=' table has-background-success-light is-narrow'>
  <tr><td>
  <label>how many answer choices: </label>
  <input  
    class='input is-small '
    type="number"
    value= {{answerChoiceCount}}
    size="1"
    min="1" 
    max="9" 
    maxlength="2"
    (change)=questAcaCountChg($event,qx)              
    autocomplete="off"> 
    </td></tr>
</table> -->

<table class=' table has-background-success-light is-narrow'>
  <thead>
    <th>answer adds to ScoreBoard:</th>
    <th><input  
      class='input is-small'
      value= {{questionsIn[qx].accum[0]}}
      size="14"
      (change)=questAccumChg($event,qx)              
      autocomplete="off"> </th>
    
    <tr>
      <th>Answer Choice</th>
      <th>Points</th>
      <th><button 
        class='button is-info is-small'
        (click)='addAnswerChoice()'  >
        add</button></th>
    </tr>
  </thead>
  <tbody>
<tr *ngFor="let a of questionsIn[qx].aca; let ax=index" > 

<td><input  
  class='input is-small '
  value= {{questionsIn[qx].aca[ax]}}
  size="15"
  (change)=questAcaChg($event,qx,ax)              
  autocomplete="off"> 
</td>  
  <td>
  <input  type="number"
  class='input is-small '
  value= {{questionsIn[qx].acaPointVals[ax]}}
  size="2"
  (change)=questAcaPointValChg($event,qx,ax)              
  autocomplete="off"> 
</td>
<td><button 
  class='button is-info is-small'
  (click)='delAnswerChoice(ax)'>
  delete</button></td>
</tr>
  
  </tbody>
</table>
</div>

<!-- <button class='button is-info is-rounded is-small'>a</button>
&#9644;&#9644;&#9644;&#9644;
<button class='button is-info is-rounded is-small'>b</button>
&#9644;&#9644;&#9644;&#9644;
<button class='button is-info is-rounded is-small'>c</button>
&#9620;&#9620;&#9620;&#9596;&#9596;&#9596;
&#8866;&#8866;&#8866;
<button class='button is-primary is-rounded is-small'>1</button> -->
<br><br>
<span id='htmlIdBottomOfPage'> </span>