
<span class='tag is-dark is-small is-vcentered ml-3' 
    *ngIf='msg1.length > 0'>
    {{msg1}} 
</span>


<div class='box mt-3 ml3 has-background-danger-light'>
  <textarea cols="150" rows="20" 
  class='pl-3 has-background-danger-light'>
        Hello from Profile component.
        show info about this cust admin.
        show the test list for this cust.
        let him select a test from the list.
        default test is '1'
        build querystring, based on his selection.
        allow him to jump to any menu option.
        
        part1 view my profile
        part2 update my profile (reset info about my profile)
        part3 update my subscription
        

might need an auto email when he wants to reset password.

for June 2021, maybe two customers:  Ed and Selz 
manually enter into fauna cust table.
Ed is cust 1. 
Fred is cust 2.
   </textarea>

</div>
