<div class='is-fullwidth has-background-warning is-size-5 pt-1 pb-1'>
    &nbsp; Work With Invitations wwi    
 
   <a class='button has-background-warning is-small is-pulled-right '
    (click)='jumpToQnc()'>
     done &#10060; 
   </a>  

   <a class='button has-background-warning is-small is-pulled-right '
    (click)='showHideHelp()'>
     help &#10068; 
   </a>
    
   <span class=' is-pulled-right'>
    <span class='tag is-dark is-small is-vcentered' 
      *ngIf='msg1.length > 0'>
      {{msg1}} 
    </span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </span>
 </div>

 <table class='table is-fullwidth'>
   <thead> 
     <th>invite code</th>
     <th>invitation link</th>
   </thead>
   <tbody>
   <tr *ngFor='let i of invitesArray, index as ix'
       class='has-background-success'> 
       <td><span class='tag is-small is-rounded'>{{i.icode}}</span></td>
       <td>{{i.ilink}}</td>
       <td>   
        <button class='button is-small is-info' 
              (click)=detailButClicked(u)> 
           details 
        </button> 
     </td>
   </tr>
   </tbody>
 </table>

<textarea cols=90 rows=30>
  what does an invitation rec look like?
  icode field. 90210. a key so that a user can take the survey.
  ilink field. a URL.  https:\\bla.com?cust=1&qid=1&icode=90210
  so, who is this customer? 1 2 3
  and what test is he working on?  1 2 3
  icode is just a key. dont tie other things to it.
  when a test taker uses the ilink, prompt the testTaker to identify himself.
  this will append the test taker to the user list.
</textarea>