  <div class='is-fullwidth has-background-warning is-size-5'> 
    &nbsp; Qnc   Questario
     <span class='is-size-5 pb-1 pt-1'>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     </span>

     <span>
      <span class='tag is-small is-info m-1 is-clickable'(click)='navClick("sign")' >sign on</span> 
      <span class='tag is-small is-info m-1 is-clickable'(click)=jumpToWwq()>questions</span> 
      <span class='tag is-small is-info m-1 is-clickable'(click)=jumpToWwg()>groups</span>  
      <span class='tag is-small is-info m-1 is-clickable'(click)=jumpToWwr()>rules</span> 
      <span class='tag is-small is-info m-1 is-clickable'(click)=jumpToWwi()>invitations</span> 
      <span class='tag is-small is-info m-1 is-clickable'(click)=jumpToWwu()>users</span> 
     </span>

    <span class='button has-background-warning is-small is-pulled-right mb-6'
        (click)='showHideHelp()'>
      <span> help &#10068; </span>
    </span>
  </div> 
  

   <!-- <div class="columns is-gapless  is-multiliney" >
     <div class='column is-clipped'
       *ngFor="let subsetName of subsetArray; let sx=index"
       id="{{'subsetHtmlId'+sx}}" >
       <span class = 'button has-background-link is-fullwidth selz-text-trunc'
             (mouseenter) ="subsetMouseEnter(subsetName) " 
             (click)='subsetClick(subsetName,sx)'  >
         <span 
             *ngIf='expandedSubset==subsetName'
             class='tag is-small has-background-info is-pulled-left'
           (click)='subsetTagClick(subsetName,sx)' 
             >
          Settings
        </span> &nbsp;

          <span>  {{subsetName}} &nbsp;  </span>
          <span *ngIf='expandedSubset==subsetName'
              (click)='questTagClick(0,subsetName)' 
                class='tag has-background-success is-pulled-right'>
             Questions  
          </span>
        </span>

       <span *ngFor="let q of questArray" >
         <span  *ngIf="q.subset == subsetName ">
            <div 
              [className]= "expandedSubset==subsetName 
                          ? 'selz-text-trunc mt-1 has-background-success ' 
                          : 'selz-text-trunc mt-1' " 
              (click)=questClick(q.questNbr,subsetName) >
                  {{q.questNbr}} {{q.questTxt}}  
            </div>  
         </span>
       </span>
     </div>
     <div class='column'>
       <button class='button has-background-link'
           (click)='subsetClick("NewGroupName1",0)'  >
          <span class='is-size-4y'> new group  &#10133; &#9997;   </span>
       </button>

     </div>
   </div> -->

 <div>
<span class='tag is-dark mr-2'>sign on info... who am i? </span>
<span class='tag is-dark mr-2'>questions info... questCnt? </span>
<span class='tag is-dark mr-2'>groups info... groupCnt, QuestCnt ? </span>
<span class='tag is-dark mr-2'>groups info... groupCnt, QuestCnt ? </span>
</div>

<textarea name="" id="" cols="50" rows="20">
1 sign on as admin
2 see main menu qnc
3 show all nav capabilities (see qnc below)
4 test setup (admin) questions,groups,rules
5 test results (download page) test takers, dnload answers,scores

todo
6 re-purpose old qnc. save old bulma field custom cuteness.
maybe like a splash screen.
maybe show sign-on info, welcome, 
nav buttons for quest list ,group list ,rules list
nav buttons for invitation maint, user list
7 intro/break/finish  ? just questions ? 
8 sign on screen
9 icode  ed emails a link, link has imbedded icode, 
  icode must have matching data
  maybe a fauna table that has 'invitation' info
  edit screen for invitation info?
10 navigation between components
11 new component user list? 
   see old download screen.
   has state (how far a user is)
   has download capability for scores, answers?
12 jump 
   maybe make dumb components smart enough to
   jump back to qnc.
   forget calling this 'doneWwx'
   call it jumpToxxx.
   wwqd always jumps back to wwq
   wwgd always jumps back to wwg
   wwrd always jumps back to wwr
   wwq when done hit, wwq jumps to qnc
   wwg when done hit, wwg jumps to qnc
   wwr when done hit, wwr jumps to qnc
13 sync arrays after user edits on detail screens.
   when he does crud, 
     gotta sync up QuestionsIn, RulesIn, SubsetsIn
     gotta sync up fauna db tables 
14 questionsIn, rulesIn, SubsetsIn --- same layout as fauna db
   questArray, RulesArray, SubsetsArray === local shadow copies
   only pass questionsIn, rulesIn, SubsetsIn when he navigates.
   create shadow arrays from questionsIn, rulesIn, SubsetsIn 
      when he navigates.

question list.
question detail.
group (subset) list.
group (subset detail.
rules list.  
rule detail.
 
questions ----------------------
 
rules ----------------------
 jump to/from wwrd rule detail
 need to  wwrd workable

groups ----------------------
jump to/from wwgd rule detail
 need to  wwgd workable


all lists show a grid. 
lists have no rec or field edit-ability.
detail: a one-record edit screen, with prev next.
detail: screen can only work on one record.
                           
</textarea>